<div id="ride-column">
<h1> Wrider 1's Trips: </h1>
<br>
<br>
<ul class="trips_list"></ul>
</div>
<div class="spacer"></div>

<div id="graph"></div>

<div class="spacer"></div>
<div id="map-canvas"></div>


